<div fxFill fxLayout="column" fxLayoutAlign="space-between center">
    <div class="width-100 header">
        <mat-toolbar>
            <span class="spacer"></span>
            <span class="text-center"><strong class="bold">Scan</strong>logic</span>
            <span class="spacer"></span>
        </mat-toolbar>
        <mat-progress-bar *ngIf="false" mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="content width-100 text-center slide-in-fwd-center">
        <router-outlet></router-outlet>
    </div>
    <div class="footer width-100">
        <ngx-bottom-nav [items]="items"></ngx-bottom-nav>
    </div>
<div>