$leadlogic-font: 'Montserrat', sans-serif;
$leadlogic-orange: #FD814C;

.padding-login{
    padding-top: 75px;
}

.sign-in-title{
    color: $leadlogic-orange;
    font-family: $leadlogic-font;
    font-size: 36px;
    margin-bottom: 10px;
}
.sign-in-subtitle{
    color: rgb(77, 77, 77);
    font-family: $leadlogic-font;
    font-size: 14px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.width-login-btn{
    margin-top: 20px;
    width: 204px;
    height: 45PX;
    background-color: $leadlogic-orange;
    text-align: -webkit-center;
}

.btn-login-text{
    font-size: 16px;
    font-family: $leadlogic-font;
    font-weight: 900;
}

:host ::ng-deep .mat-form-field-wrapper{
    padding-bottom: 0;
}
  