$shocklogic-font: 'Nunito Sans', sans-serif;
$shocklogic-orange: #FD814C;

.sign-in-title{
    color: $shocklogic-orange;
    font-family: $shocklogic-font;
    font-size: 36px;
    margin-bottom: 10px;
}
.sign-in-subtitle{
    color: rgb(77, 77, 77);
    font-family: $shocklogic-font;
    font-size: 14px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.width-login-btn{
    margin-top: 20px;
    width: 250px;
    height: 45PX;
    background-color: $shocklogic-orange;
    text-align: -webkit-center;
}

.btn-login-text{
    font-size: 16px;
    font-family: $shocklogic-font;
    font-weight: 700;
}

:host ::ng-deep .mat-form-field-wrapper{
    padding-bottom: 0;
}

.trans{
    color: transparent;
}