<div fxFill class="slide-in-fwd-center" fxLayout="column" fxLayoutAlign="space-between center">
    <div class="width-100 header">
        <mat-toolbar>
            <button class="ml--15" mat-icon-button (click)="goToActivitySettings()">
                <mat-icon>navigate_before</mat-icon>
            </button>
            <span class="spacer"></span>
            <span class="toolbar-text">Device Settings</span>
            <span class="spacer"></span>
            <button class="mr--15" mat-icon-button (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
            </button>
        </mat-toolbar>
        <mat-progress-bar *ngIf="false" mode="indeterminate"></mat-progress-bar>
    </div>
    <div *ngIf="activities" class="width-100 content text-center my-20" fxLayout="column" fxLayoutAlign="space-evenly center">
        <h3 class="lead-font text-dark text-center">Step 5:  Select ACTIVITIES to validate</h3>
        <span class="subtitle text-center">Select the activities you would like this device to validate for either Access Tracking or Access Control</span>
        <form [formGroup]="selectForm" (ngSubmit)="handleSelect()" fxLayout="column" fxLayoutAlign="space-evenly center">
            <div class="my-20" fxLayout="column" fxLayoutAlign="center center">
                <mat-form-field appearance="outline">
                    <mat-label>Select Activity</mat-label>
                    <mat-select multiple formControlName="Select_Activities">
                        <mat-option *ngFor="let activity of activities" [value]="activity.Activity_Id">
                            {{activity.Activity_Id}} - {{activity.Short_Name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <button (click)="resetSelect()" type="button" class="second-btn" mat-raised-button [disabled]="!this.selectForm.get('Select_Activities').dirty || handleResetButton()">
                    <span *ngIf="true" class="btn-text">RESET</span>
                    <mat-spinner *ngIf="false" mode="indeterminate" [diameter]="30"></mat-spinner>
                </button>
                <button class="submit-btn" mat-raised-button [disabled]="!this.selectForm.get('Select_Activities').touched">
                    <span *ngIf="true" class="btn-text">SAVE</span>
                    <mat-spinner *ngIf="false" mode="indeterminate" [diameter]="30"></mat-spinner>
                </button>
            </div>
        </form>
    </div>        
</div>