<div fxFill fxLayout="column" fxLayoutAlign="space-between center">
    <div class="width-100 header">
        <mat-progress-bar *ngIf="false" mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="width-100 content text-center slide-in-fwd-center" fxLayout="column" fxLayoutAlign=" center">
        <mat-list class="width-100">
            <mat-list-item>
                <button class="width-100 bg-white font-larger" mat-button>About Shocklogic</button>
            </mat-list-item>
            <mat-list-item>
                <button class="width-100 bg-white font-larger" mat-button>Setup Device</button>
            </mat-list-item>
            <mat-list-item>
                <button class="width-100 bg-white font-larger" mat-button>Statisctics</button>
            </mat-list-item>
            <mat-list-item>
                <button class="width-100 bg-white font-larger" mat-button>Device Info</button>
            </mat-list-item>
            <mat-list-item>
                <button class="width-100 bg-white font-larger" mat-button>Offline Sync</button>
            </mat-list-item>
            <mat-list-item>
                <button class="width-100 bg-white font-larger" mat-button>Switch Project</button>
            </mat-list-item>
            <mat-list-item>
                <button class="width-100 bg-white font-larger" mat-button>Onsite Documents</button>
            </mat-list-item>
            <br>
            <mat-divider></mat-divider>
            <br>
            <mat-list-item>
                <button class="width-100 bg-white font-larger" mat-button>Sign Out</button>
            </mat-list-item>
          </mat-list>
    </div>     
</div>