.participants-card{
    width: 250px;
    margin-bottom: 10px !important;
    margin: 10px;
}

:host ::ng-deep .mat-card-header-text {
    margin: 0 0px;
}

.participants-card-title{
    font-size: 12px;
}

.validate-btn{
    color: green;
    border: 1px solid green;
    font-weight: 700;
    width: fit-content;
}