.participants-card{
    width: 250px;
    margin-bottom: 10px !important;
    margin: 10px;
    min-height: 173px;
}

:host ::ng-deep .mat-card-header-text {
    margin: 0 0px;
}

.participants-card-title{
    font-size: 12px;
}

.participants-card-subtitle{
    font-size: 12px;
    margin-bottom: 5px;
}

mat-card-content{
    margin-bottom: 5px;
}

.validate-btn{
    color: green;
    border: 1px solid green;
    font-weight: 700;
    width: fit-content;
}

:host ::ng-deep .mat-form-field-wrapper{
    padding-bottom: 0px;
}