<div fxFill class="slide-in-fwd-center" fxLayout="column" fxLayoutAlign="space-between center">
    <div class="width-100 header">
        <mat-toolbar>
            <span class="spacer"></span>
        </mat-toolbar>
        <mat-progress-bar *ngIf="false" mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="width-100 content text-center slide-in-fwd-center" fxLayout="column" fxLayoutAlign=" center">

        <form *ngIf="!this.bCam" class="width-100 slide-in-fwd-center" [formGroup]="scanForm">
            <mat-form-field appearance="outline" class="mt-10">
                <mat-label>Scan or enter value</mat-label>
                <input matInput formControlName="email_this" class="form-control">
            </mat-form-field>
        </form>

        <div class="width-100 slide-in-fwd-center" *ngIf="this.bCam">
            <mat-form-field *ngIf="scannerEnabled" class="slide-in-fwd-center mt-10 text-center lead-font bold" appearance="outline">
                <select matNativeControl matInput (change)="onDeviceSelectChange($event.target.value)">
                    <option value="" [selected]="!currentDevice">No Device Selected</option>
                    <option *ngFor="let device of availableDevices" [value]="device.deviceId"
                    [selected]="currentDevice && device.deviceId === currentDevice.deviceId">{{device.label}}</option>
                </select>
            </mat-form-field>

            <button *ngIf="!scannerEnabled" (click)="reloadScanner()" class="center-btn leadlogic-btn slide-in-fwd-center" mat-raised-button>
                <span class="btn-text">SCAN AGAIN</span>
            </button>

            <zxing-scanner
                [(device)]="currentDevice"
                (camerasFound)="onCamerasFound($event)"
                (scanSuccess)="scanSuccessHandler($event)"
                [enable]="scannerEnabled">
            </zxing-scanner>

            <br>

            <span *ngIf="bPersonId" class="leadlogic-title text-center"><strong class="bold">Person ID: </strong>{{personId}}</span>
        </div>
        <button class="sl-btn" mat-fab aria-label="" (click)="handleCamera()">
            <mat-icon>camera_alt</mat-icon>
        </button>
    </div>     
    <div class="width-100 footer">
        <mat-toolbar>
            <span class="spacer"></span>
            <button mat-icon-button (click)="goToSearch()">
                <mat-icon>search</mat-icon>
            </button>
            <span class="spacer"></span>
            <button mat-icon-button  (click)="goToStatistics()">
                <mat-icon>insert_chart_outlined</mat-icon>
            </button>
            <span class="spacer"></span>
            <button mat-icon-button disabled>
                <mat-icon>center_focus_weak</mat-icon>
            </button>
            <span class="spacer"></span>
            <button mat-icon-button>
                <mat-icon>settings</mat-icon>
            </button>
            <span class="spacer"></span>
        </mat-toolbar>
    </div>
</div>