<div fxFill fxFill class="slide-in-fwd-center" fxLayout="column" fxLayoutAlign="space-between center">
    <div class="width-100 header">
        <mat-toolbar>
            <button class="ml--15" mat-icon-button (click)="goToRepeatScans()">
                <mat-icon>navigate_before</mat-icon>
            </button>
            <span class="spacer"></span>
            <span>Device Settings</span>
            <span class="spacer"></span>
            <button class="mr--15" mat-icon-button (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
            </button>
        </mat-toolbar>
        <mat-progress-bar *ngIf="false" mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="width-100 content text-center" fxLayout="column" fxLayoutAlign="space-evenly center">
        <h3 class="shocklogic-font text-dark text-center">Step 4: Activity Settings</h3>
        <span class="subtitle text-center">If you would like to check activites for each scanned delegate, then select the activities for this specific device from the list below</span>
        <span class="subtitle text-center">There are two types of checks: Check and make sure delegate has all activity, or to check if delegate has atleast one of the following</span>
        <br>
        <form [formGroup]="activityForm" (ngSubmit)="handleActivity()" fxLayout="column" fxLayoutAlign="space-evenly center">
            <mat-form-field appearance="outline">
                <mat-label>Activity Settings</mat-label>
                <mat-select formControlName="Activity_Settings">
                    <mat-option *ngFor="let mode of modes" [value]="mode.value">
                        {{mode.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <!--<span class="subtitle text-center">You selected: {{this.activityForm.get('Scanner_Repeat').value}}</span>-->
            <div fxFill fxLayout="row" fxLayoutAlign="center center">
                <button (click)="resetActivitySettings()" type="button" class="second-btn" mat-raised-button [disabled]="!activityForm.valid">
                    <span *ngIf="true" class="btn-text">RESET</span>
                    <mat-spinner *ngIf="false" mode="indeterminate" [diameter]="30"></mat-spinner>
                </button>
                <button class="submit-btn" mat-raised-button [disabled]="!activityForm.valid">
                    <span *ngIf="true" class="btn-text">SAVE</span>
                    <mat-spinner *ngIf="false" mode="indeterminate" [diameter]="30"></mat-spinner>
                </button>
            </div>
        </form>
    </div>        
</div>