<div fxFill fxFill class="slide-in-fwd-center" fxLayout="column" fxLayoutAlign="space-between center">
    <div class="width-100 header">
        <mat-toolbar>
            <button class="ml--15" mat-icon-button (click)="goToDeviceName()">
                <mat-icon>navigate_before</mat-icon>
            </button>
            <span class="spacer"></span>
            <span class="toolbar-text">Device Settings</span>
            <span class="spacer"></span>
            <button class="mr--15" mat-icon-button (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
            </button>
        </mat-toolbar>
        <mat-progress-bar *ngIf="false" mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="width-100 content text-center" fxLayout="column" fxLayoutAlign="space-evenly center">
        <h3 class="lead-font text-dark text-center">Step 2: Scanner Mode</h3>
        <span class="subtitle text-center"><strong class="bold">Access Control</strong> mode will check that each delegate has the assigned activities</span>
        <span class="subtitle text-center"><strong class="bold">Access Tracking</strong> mode will track activities assigned to the device, and log all scans</span>
        <form [formGroup]="modeForm" (ngSubmit)="handleMode()" fxLayout="column" fxLayoutAlign="space-evenly center">
            <mat-form-field appearance="outline">
                <mat-label>Scanner Mode</mat-label>
                <mat-select formControlName="Scanner_Mode">
                    <mat-option *ngFor="let mode of modes" [value]="mode.value">
                        {{mode.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <!--<span class="subtitle text-center">You selected: {{this.modeForm.get('Scanner_Mode').value}}</span>-->
            <div fxFill fxLayout="row" fxLayoutAlign="center center">
                <button (click)="resetDeviceName()" type="button" class="second-btn" mat-raised-button [disabled]="!modeForm.valid">
                    <span *ngIf="true" class="btn-text">RESET</span>
                    <mat-spinner *ngIf="false" mode="indeterminate" [diameter]="30"></mat-spinner>
                </button>
                <button class="submit-btn" mat-raised-button [disabled]="!modeForm.valid">
                    <span *ngIf="true" class="btn-text">SAVE</span>
                    <mat-spinner *ngIf="false" mode="indeterminate" [diameter]="30"></mat-spinner>
                </button>
            </div>
        </form>
    </div>        
</div>