/* You can add global styles to this file, and also import other style files */
$leadlogic-font: 'Montserrat', sans-serif;
$leadlogic-orange: #FD814C;
$leadlogic-dark: #222327;

body {
  height: 100%;
  box-sizing: border-box;
  background-color: whitesmoke;
  color: $leadlogic-orange;
  margin: 0px;
}

html {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
}

.header{
  flex: 0 0 auto;
}

.content{
  flex: 1 1 auto;     
  overflow-y: auto;     
}
.footer{
  flex: 0 0 auto;
}

mat-toolbar{
  background-color: $leadlogic-orange !important;
  color: whitesmoke !important;
  font-family: $leadlogic-font !important;
}

.toolbar-text{
  font-size: 14px;
}

.spacer {
  flex: 1 1 auto;
}

app-navbar{
  width: 100%;
}

.width-100{
  width: 100%;
}

.mt-10{
  margin-top: 10px;
}

.mt-50{
  margin-top: 50px;
}

.mx-20{
  margin-left: 20px;
  margin-right: 20px;
}

.ml--15{
  margin-left: -15px;
}

.text-center{
  text-align: center;
}

.text-dark{
  color: $leadlogic-dark;
}

.bold{
  font-weight: 900;
}

.lead-font{
  font-family: $leadlogic-font;
}

.leadlogic-title{
  color: $leadlogic-orange;
  font-family: $leadlogic-font;
  font-size: 24px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.mat-snack-bar-container{
  background-color: $leadlogic-dark;
  color: $leadlogic-orange;
  
}

.mat-simple-snackbar, .mat-button-wrapper{
  font-family: $leadlogic-font;
  font-size: smaller;
}

.leadlogic-btn{
  width: 204px;
  height: 45PX;
  background-color: $leadlogic-orange;
  text-align: -webkit-center;
  font-size: 16px;
  font-family: $leadlogic-font;
  font-weight: 900;
}

.btn-text{
  font-size: 14px;
  font-family: $leadlogic-font;
  font-weight: 800;
}

mat-form-field.mat-form-field {
  font-size: 14px;
  font-family: $leadlogic-font;
  width: 201px;
  color: rgb(77, 77, 77);
}

.subtitle{
  color: rgb(77, 77, 77);
  font-family: $leadlogic-font;
  font-size: 14px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.slide-in-fwd-center {
	-webkit-animation: slide-in-fwd-center 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-fwd-center 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-in-fwd-center {
    0% {
      -webkit-transform: translateZ(-1400px);
              transform: translateZ(-1400px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-fwd-center {
    0% {
      -webkit-transform: translateZ(-1400px);
              transform: translateZ(-1400px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }