/* You can add global styles to this file, and also import other style files */

$shocklogic-font: 'Nunito Sans', sans-serif;
$shocklogic-orange: #FD814C;
$shocklogic-dark: #222327;
$shocklogic-light: whitesmoke;

html, body { height: 100%; color: $shocklogic-dark; font-family: $shocklogic-font; }

body { margin: 0; background-color: $shocklogic-light; color: $shocklogic-dark; }

.header{ flex: 0 0 auto; }
.content{ flex: 1 1 auto; overflow-y: auto; }
.footer{ flex: 0 0 auto; }

.shocklogic-font{ font-family: $shocklogic-font !important; }
.shocklogic-orange{ color: $shocklogic-orange; }
.shocklogic-dark{ color: $shocklogic-dark; }

.spacer { flex: 1 1 auto; }
.btn-none { width: 40px; height: 40px; }
.rotate-180{ transform: rotate(180deg); }

.ml--15{ margin-left: -15px !important; }
.mr--15{ margin-right: -15px !important; }
.mt-20{ margin-top: 20px !important; }
.mb-15{ margin-bottom: 15px !important; }
.mb-20{ margin-bottom: 20px !important; }
.mr-20{ margin-right: 20px !important; }
.ml-20{ margin-left: 20px !important; }

mat-form-field.mat-form-field {
    font-size: 14px;
    font-family: $shocklogic-font;
    width: 250px;
    color: $shocklogic-dark;
}

mat-toolbar{ background-color: white !important; font-family: $shocklogic-font !important; }

.header mat-toolbar{ box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2); margin-bottom: 1px !important; }

.mat-snack-bar-container{ background-color: white; color: $shocklogic-dark; }

.mat-simple-snackbar, .mat-button-wrapper{ font-family: $shocklogic-font; font-size: smaller; }

.width-100{ width: 100%; }
.height-100{ height: 100%; }
.text-center{ text-align: center !important; }

.slide-in-fwd-center {
	-webkit-animation: slide-in-fwd-center 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-fwd-center 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-fwd-center {
    0% {
        -webkit-transform: translateZ(-1400px);
        transform: translateZ(-1400px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes slide-in-fwd-center {
    0% {
        -webkit-transform: translateZ(-1400px);
        transform: translateZ(-1400px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}

 @-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
}
  

